<h1>&#128665; Log In! &#128665; </h1>
davis
carlota
ruben
chuck_leuschke
<% if @errors %>
  <p style="color: red;"><%= @errors %></p>
<% end %>
<ul>
<form action="/login" method="POST">
  <label for="username">Username:</label><br>
  <input type="text" name="username" id="username"/><br>

  <label for="password">Password:</label><br>
  <input type="password" name="password" id="password"/><br><br />

  <input type="submit" value="Log In"/>
</form>
</ul>