
<h2> Hello, <%= current_user.username %> !! </h2>

<h3> Here is the list of your vehicles!</h3>
<h3>You can ADD, EDIT or DELETE your vehicles. </h3><br>

<%@vehicles.map do |v|%>
<li><a href><%= v.model %></a> - <%= v.brand %> <%=v.year%> </li>
<%end%>





